# Node dependencies
node_modules/*
!node_modules/@nut-tree/
node_modules/@nut-tree/*
!node_modules/@nut-tree/nut-js/
node_modules/@nut-tree/nut-js/*
!node_modules/@nut-tree/nut-js/package.json
!node_modules/@nut-tree/nut-js/dist/
!node_modules/@nut-tree/nut-js/dist/**
!node_modules/@nut-tree/shared/
node_modules/@nut-tree/shared/*
!node_modules/@nut-tree/shared/package.json
!node_modules/@nut-tree/shared/dist/
!node_modules/@nut-tree/shared/dist/**
!node_modules/@nut-tree/provider-interfaces/
node_modules/@nut-tree/provider-interfaces/*
!node_modules/@nut-tree/provider-interfaces/package.json
!node_modules/@nut-tree/provider-interfaces/dist/
!node_modules/@nut-tree/provider-interfaces/dist/**
!node_modules/@nut-tree/libnut/
node_modules/@nut-tree/libnut/*
!node_modules/@nut-tree/libnut/package.json
!node_modules/@nut-tree/libnut/dist/
!node_modules/@nut-tree/libnut/dist/**
!node_modules/@nut-tree/default-clipboard-provider/
node_modules/@nut-tree/default-clipboard-provider/*
!node_modules/@nut-tree/default-clipboard-provider/package.json
!node_modules/@nut-tree/default-clipboard-provider/dist/
!node_modules/@nut-tree/default-clipboard-provider/dist/**
!node_modules/@nut-tree/libnut-win32/
node_modules/@nut-tree/libnut-win32/*
!node_modules/@nut-tree/libnut-win32/package.json
!node_modules/@nut-tree/libnut-win32/index.js
!node_modules/@nut-tree/libnut-win32/build/
!node_modules/@nut-tree/libnut-win32/build/Release/
node_modules/@nut-tree/libnut-win32/build/Release/*
!node_modules/@nut-tree/libnut-win32/build/Release/libnut.node
!node_modules/@nut-tree/libnut-win32/build/Release/*.dll
node_modules/@nut-tree/libnut-win32/build/*.slnx
node_modules/@nut-tree/.nut-js-*/
!node_modules/node-window-manager/
node_modules/node-window-manager/*
!node_modules/node-window-manager/package.json
!node_modules/node-window-manager/dist/
!node_modules/node-window-manager/dist/**
!node_modules/node-window-manager/build/
node_modules/node-window-manager/build/*
!node_modules/node-window-manager/build/Release/
node_modules/node-window-manager/build/Release/*
!node_modules/node-window-manager/build/Release/addon.node
!node_modules/extract-file-icon/
node_modules/extract-file-icon/*
!node_modules/extract-file-icon/package.json
!node_modules/extract-file-icon/dist/
!node_modules/extract-file-icon/dist/**
!node_modules/extract-file-icon/build/
node_modules/extract-file-icon/build/*
!node_modules/extract-file-icon/build/Release/
node_modules/extract-file-icon/build/Release/*
!node_modules/extract-file-icon/build/Release/addon.node
node_modules/**/.git/
node_modules/**/node_modules/

# Runtime/build noise
logs/
temp/
*.log
dist/

# Bundles and archives
*.zip
TwitchCommander
nutjs-build-libnut.cmd

# OS/editor noise
Thumbs.db
.DS_Store
